/*
Amoled theme for The Lounge

Installation instructions can be found here
https://thelounge.chat/docs/configuration#theme

Author: realies
GitHub: https://github.com/realies
*/

:root {
	--body-color: #eee;
	--body-color-muted: #757575;
	--border-color: #111;
	--body-bg-color: #000 !important;
	--button-color: #2980b9;
	--button-color-muted: #3498db;
	--button-text-color-hover: #fff;
	--overlay-bg-color: rgba(0, 0, 0, 0.5);
	--link-color: #3498db;
	--window-bg-color: #000;
	--window-heading-color: #6c797a;
	--date-marker-color: rgba(41, 128, 185, .5);
	--unread-marker-color: rgba(231, 76, 60, 0.5);
	--highlight-bg-color: #efe8dc;
	--highlight-border-color: #b08c4f;
	--upload-progressbar-color: var(--button-color);
}

body,
.input {
	background: var(--body-bg-color);
}

.input {
	border: 1px solid var(--border-color);
	color: var(--body-color);
}

a:visited {
	color: #9b59b6;
}

.channel-list-item[data-type=lobby] {
	color: var(--button-color);
}

.channel-list-item[data-type="lobby"]:hover,
.channel-list-item[data-type="lobby"].active {
	color: var(--button-color-muted);
}

.btn:active,
.btn:focus,
.input:focus {
	outline: 0;
	box-shadow: 0 0 0 1px rgba(41, 128, 185, .5);
}

.input:not(:disabled):focus,
.input:not(:disabled):hover {
	border-color: var(--button-color);
}

#chat button.mentions,
#chat button.menu,
#viewport .lt,
#viewport .rt,
.topic-container .save-topic span,
.password-container .reveal-password span,
#form #submit,
#form #upload {
	color: var(--body-color-muted);
}

#form {
	background: inherit;
	color: var(--body-color);
	border-top: 1px solid var(--border-color);
}

.jump-to-input .input {
	color: var(--body-color-muted);
}

::placeholder {
	color: #333;
}

#chat .header {
	border-bottom: 1px solid var(--border-color);
}

#chat .userlist,
#chat .content {
	border-left: 1px solid var(--border-color);
}

#chat .userlist .count {
	background: inherit;
}

#chat .msg[data-type=monospace_block] .text,
#chat .toggle-content,
#form #nick {
	background: #111;
	color: var(--body-color);
}

#footer button:hover,
#footer button.active,
.channel-list-item:hover {
	background-color: #111;
	color: #999;
}

#footer button {
	color: inherit;
}

#footer button.active,
.channel-list-item.active {
	background-color: #111;
	color: #999;
}

#sidebar {
	color: #666;
}

.channel-list-item .badge {
	background: hsla(0, 0%, 100%, .1);
	color: #666;
}

.channel-list-item .badge.highlight {
	background: #999;
}

#chat .msg[data-type="topic"] .from::before,
#chat .msg[data-type="mode_channel"] .from::before,
#chat .msg[data-type="mode"] .from::before {
	color: var(--button-color);
}

code,
.irc-monospace {
	background-color: #222;
}

pre {
	background-color: #f5f5f5;
}

kbd {
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background-color: white;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05), transparent);
	border: 1px solid #bbb;
	border-radius: 4px;
	box-shadow: 0 2px 0 #bbb, inset 0 1px 1px #fff, inset 0 -1px 3px #ccc;
}

#chat.colored-nicks .user.color-1 {
	color: #f7adf7;
}

#chat.colored-nicks .user.color-2 {
	color: #abf99f;
}

#chat.colored-nicks .user.color-3 {
	color: #86efdc;
}

#chat.colored-nicks .user.color-4 {
	color: #b76ee5;
}

#chat.colored-nicks .user.color-5 {
	color: #f9a4b3;
}

#chat.colored-nicks .user.color-6 {
	color: #f7999a;
}

#chat.colored-nicks .user.color-7 {
	color: #f497b9;
}

#chat.colored-nicks .user.color-8 {
	color: #f9a9d7;
}

#chat.colored-nicks .user.color-9 {
	color: #7fa2e2;
}

#chat.colored-nicks .user.color-10 {
	color: #a8b8ff;
}

#chat.colored-nicks .user.color-11 {
	color: #ad88fc;
}

#chat.colored-nicks .user.color-12 {
	color: #f4aead;
}

#chat.colored-nicks .user.color-13 {
	color: #fc71ab;
}

#chat.colored-nicks .user.color-14 {
	color: #ff72e0;
}

#chat.colored-nicks .user.color-15 {
	color: #8cb6ea;
}

#chat.colored-nicks .user.color-16 {
	color: #f9857c;
}

#chat.colored-nicks .user.color-17 {
	color: #ed9b82;
}

#chat.colored-nicks .user.color-18 {
	color: #8df484;
}

#chat.colored-nicks .user.color-19 {
	color: #ffcce3;
}

#chat.colored-nicks .user.color-20 {
	color: #efcc81;
}

#chat.colored-nicks .user.color-21 {
	color: #90a1ed;
}

#chat.colored-nicks .user.color-22 {
	color: #f4d484;
}

#chat.colored-nicks .user.color-23 {
	color: #97ea70;
}

#chat.colored-nicks .user.color-24 {
	color: #fcbbba;
}

#chat.colored-nicks .user.color-25 {
	color: #eef975;
}

#chat.colored-nicks .user.color-26 {
	color: #c7ff93;
}

#chat.colored-nicks .user.color-27 {
	color: #ffade1;
}

#chat.colored-nicks .user.color-28 {
	color: #98ecf2;
}

#chat.colored-nicks .user.color-29 {
	color: #7187f2;
}

#chat.colored-nicks .user.color-30 {
	color: #9676e2;
}

#chat.colored-nicks .user.color-31 {
	color: #f2a4eb;
}

#chat.colored-nicks .user.color-32 {
	color: #85f27d;
}
